.Calendar {
  border: 1px solid #0058A4;
  display: inline-block;
  padding: 0;
  position: relative;
  width: 100%;
  min-height: 15rem;
  max-width: 21rem;
  margin-bottom: 2rem;
}

.Calendar-nav {
    display: flex;
    padding: 0.125rem;
    justify-content: space-between;
    align-items: center;
    background-color: #0058A4;
    color: #fff;
}

.Nav--month {
  font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: flex;
  font-size: 1.5rem;
  font-weight: 400;
}

.Calendar-nav--button {
  background-color: #0058A4;
  border: 0.063rem solid currentColor;
  cursor: pointer;
}

.Calendar-nav--button {
  font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  height: 2rem;
  width: 2rem;
  border: 0;
}

.Calendar-nav--button--unavailable {
  /* cursor: url("img/disableddates.ico") 20 20, not-allowed;*/
  color: #fff;
  opacity: 0.4;
  pointer-events: none;
  background-color: #0058A4;
  outline: none;
  border: 0;
}

.Calendar-nav--button:last-of-type {
  margin-right: 0;
}

.Calendar-nav--button:focus,
.Calendar-item:hover:not(.Calendar-item--day):not(.Calendar-item--unavailable):not(:empty),
.Calendar-item:focus:not(.Calendar-item--day):not(.Calendar-item--unavailable):not(:empty) {
  outline: 4px #F8D44C solid;
  position:relative;
  z-index:1;
}

.Calendar-item.Calendar-item--day,
.Calendar-item.Calendar-item--empty {
  background-color: white;
}

.Calendar-row {
	display: flex;
    text-align: center;
    flex: 1 1 0;
}

.Calendar-item {
  font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #BBE0FF;
  background: var(--available-color);
  border: 0;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  line-height: 200%;
  position: relative;
  height: 3rem;
  min-width: 1rem;
  flex: 1 1 0px;
  padding: 0;
  overflow: hidden;
  transition: background-color .2s ease;
}

@media (max-width: 420px){
  .Calendar-item {
    font-size: 1.2rem;
  }
}


.Calendar-item[aria-pressed] {
  cursor: pointer;
}

.Calendar-item.Calendar-item--active {
  font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
  font-weight: 600;
  color: #004A8B;
}
.Calendar-item[aria-pressed='true'] {
  background-color: #004A8B;
  background-color: var(--selected-color);
  font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
  font-weight: 600;
  color: #fff;
}

.Calendar-days {
  color: #666;
}

.Calendar-item--unavailable {
  /* cursor: url("img/disableddates.ico") 20 20, not-allowed;*/
  pointer-events: none;
  background-color: white;
  outline: none;
  border: 0;
  color: #737373;
}

.Calendar-item.Calendar-item--unavailable:focus {
	box-shadow: 0 0 0 4px #f8d44c;
    transition: box-shadow .2s ease;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    outline-offset: -4px;
    z-index: 1;
    outline: 0;
}

.Calendar-item:not(.Calendar-item--unavailable):hover {
  background-color: #D4EBFF;
  background-color: var(--hover-color);
}
.Calendar-item[aria-pressed='true']:hover {
    background-color: #004A8B;
    background-color: var(--selected-color);
}

.Calendar-item.Calendar-item--empty:hover,
.Calendar-item.Calendar-item--day:hover {
  background-color: white;
}

.Calendar-item.Calendar-item--day {
	height: 2rem;
	color:#0058A4;
}

:root {
  --selected-color: #004A8B;
  --hover-color: #D4EBFF;
  --available-color: #BBE0FF;
}