
/* -------------------------------------------- start fieldset ----------------------------------------------------- */
.ns-fieldset__heading {
    margin: 0;
}
/* -------------------------------------------- end fieldset ----------------------------------------------------- */

/* -------------------------------------------- start legend ----------------------------------------------------- */
legend.label{
    margin-bottom: 5px;
    font-size: 1em;
    line-height: inherit;
    color: inherit;
    font-weight: 600;
	border-bottom: 0;
	color: #444;
	font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
}

legend.noBorder{
	border-bottom: 0 !important;
}

/* legend h1, legend h2, legend h3, legend h4, legend h5, legend h6, h1.label, h2.label, h3.label, h4.label, h5.label  {
    margin: 0;
    font-size: 1em;
    line-height: 1.6875;
    color: inherit;
    font-weight: bold;
	border-bottom: 0;
	color: #444;
	font-family: "open_sansbold",Helvetica,Arial,Tahoma,sans-serif;
	
} */

.ns-label.noBold{
	font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
	font-weight: normal;
}

.ns-label-span {
    padding: 3px 12px;
    position: relative;
    left: -15px;
	flex: 1 1 auto;
	font-size: 1rem;
}

/* -------------------------------------------- end legend ----------------------------------------------------- */

/* -------------------------------------------- start form hint ----------------------------------------------------- */
.ns-hint {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-bottom: 15px; }
  
.ns-fieldset__legend+.ns-hint {
    margin-top: -1.5em;
} 

/* -------------------------------------------- end form hint ----------------------------------------------------- */

/* -------------------------------------------- start form group error ----------------------------------------------------- */
.ns-form-group--error {
    padding-left: 15px;
    border-left: 5px solid #a94442;
}
.ns-form-group--error .ns-form-group {
    padding: 0;
    border: 0;
}
.ns-error-message {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    clear: both;
    color: #a94442;
}
/* -------------------------------------------- end form group error ----------------------------------------------------- */