/* -------------------------------------------- start general input styles ----------------------------------------------------- */

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea, input[list], select {
    border: 1px solid #a2a2a2;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="tel"]:hover, textarea:hover, input[list]:hover, .select select:hover,
input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"]:focus, textarea:focus, input[list]:focus, .select select:focus,
input[type="text"]:active, input[type="email"]:active, input[type="number"]:active, input[type="tel"]:active, textarea:active, input[list]:active, .select select:active {
	-webkit-box-shadow:0 0 0 4px #f8d44c;
	-moz-box-shadow:0 0 0 4px #f8d44c;
	-o-box-shadow:0 0 0 4px #f8d44c;
	box-shadow:0 0 0 4px #f8d44c;
	transition: box-shadow 0.2s ease;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[list], select {
    height: 40px;
    height: 2.5rem;
}

input[type="text"], input[type="email"], input[type="number"], input[type="tel"], textarea, input[list], select {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	position: relative;
	background: #fff;
    padding: 10px;
    border-radius: 0;
	-webkit-border-radius: 0px;
	/* Disable default styling on ff */
	-moz-appearance: none;
	/* Disable default styling on webkit browsers */
	-webkit-appearance: none;
	appearance: none;
    -webkit-box-shadow: 0 0 0 0 #a2a2a2;
    box-shadow: 0 0 0 0 #a2a2a2;
	outline: none;
}

/* -------------------------------------------- end general input styles ----------------------------------------------------- */

/* -------------------------------------------- start prefix and suffix  ----------------------------------------------------- */
.ns-input__wrapper.inline {
    display: inline-flex;
}

.ns-input__prefix,
.ns-input__suffix {
    font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
    min-width: 40px;
    min-width: 2.5rem;
    padding: 5px;
    border: 1px solid #a2a2a2;
    background-color: #f1f1f0;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.ns-input__prefix {
    border-right:0;
}

.ns-input__suffix {
	border-left:0;
}
.ns-input__prefix + input {
    position: relative;
    z-index: 1;
}

input + .ns-input__suffix {
    position: relative;
    z-index: -1;
}
/* -------------------------------------------- end prefix and suffix  ----------------------------------------------------- */

