/* .ns-panel__box{
	border: 1px solid #3c7c31;
    padding: 0 2rem;
	align-content: baseline;
}  */

.ns-panel__heading{
    color: #3c7c31;
}
@media only screen and (max-width: 576px)  {
  .ns-heading__icon{
    display:block;
  }
}

.ns-panel__content{
	border-left: 5px solid #3c7c31;
    padding: 0.5rem 0 0 2.5rem;
    margin: .5rem 0 0 1rem;
}
@media only screen and (max-width: 576px)  {
  .ns-panel__content{
    margin-left: 0;
	padding-left: 1.5rem;
  }
}
.ns-panel .ns-fieldset {
	margin-bottom:0;
}