.ns-tag {
    display: inline-block;
    outline: 2px solid transparent;
    outline-offset: -2px;
    color: #fff;
    background-color: #0058a4;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.ns-tag--blue {
    color: #0058a4;
    background: #d2e2f1;
}
.ns-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #0058a4;
}
.ns-phase-banner__content {
    font-family: font-family: "open_sansregular",Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    color: #444;
    display: table;
    margin: 0;
}
.ns-phase-banner__content__tag {
    margin-right: 10px;
}
.ns-phase-banner__text {
    display: table-cell;
    vertical-align: baseline;
}