h3, .h3 {
    font-size: 1.35rem;
}
/* --------------------------------------------start not needed for service ----------------------------------------------------- */
.exampleDisplay{
	border: 1px solid #a4a4a4;
    padding: 2rem;
}
.displayButton{
    text-align: left;
    background: #fff;
    width: 100%;
	transition: 0.2s ease;
}
.displayButton:hover{
    background: #e9ecef;
}
/* --------------------------------------------start not needed for service ----------------------------------------------------- */

/* --------------------------------------------start sticky footer ----------------------------------------------------- */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
/* --------------------------------------------End sticky footer ----------------------------------------------------- */

/* --------------------------------------------start visiually hidden screen reader accessible ----------------------------------------------------- */
.ns-visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    border: 0 !important;
    white-space: nowrap !important;
}
.ns-visually-hidden-focusable {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    white-space: nowrap !important;
}
.ns-visually-hidden-focusable:active,
.ns-visually-hidden-focusable:focus {
    position: static !important;
    width: auto !important;
    height: auto !important;
    margin: inherit !important;
    overflow: visible !important;
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    white-space: inherit !important;
}
/* --------------------------------------------end visiually hidden screen reader accessible ----------------------------------------------------- */