
/* --------------------------------------------start not needed for service ----------------------------------------------------- */
.exampleDisplay{
	border: 1px solid #a4a4a4;
    padding: 2rem;
}
/* --------------------------------------------start not needed for service ----------------------------------------------------- */

/* --------------------------------------------start sticky footer ----------------------------------------------------- */

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
/* --------------------------------------------End sticky footer ----------------------------------------------------- */